.profile_info, .profile_img, .profile
{
   text-align: center;

}
.profile_img
{
    width: 250px;
    height: 150px;
}
.bg-link
{
    background-color: #AEB6BF;
    border:solid 2px #3b465e ;
    margin: auto;
    width: 180px;
    height: 35px;
    text-align: center;
    font-size: 20px;

}
